# Dependencies
node_modules/

# Production / Compile Outputs
dist/
build/
.fastworker/

# Local Dev/Environment Secrets
.env
.dev.vars
.wrangler/
.docusaurus/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Examples Prod
examples/prod/
